# .github/workflows/build.yml
name: Build App

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    name: Build Next.js App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'   # Specify Node.js version

      - name: Install Dependencies
        run: npm ci

      # 6. Build the Next.js app
      - name: Build App
        run: npm run build
