name: Build App

on:
  push:        # Runs on push to any branch
  pull_request: # Runs on PR to any branch

jobs:
  build:
    name: Build Next.js App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install Dependencies
        run: npm ci

      - name: Build App
        run: npm run build
