name: Release Deployment

on:
  push:
    branches:
      - release

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_LOGIN_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:prod .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:prod

      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 5823
          script: |
            # Stop and remove old container
            docker stop discovery || true
            docker rm discovery || true
            docker image prune -f || true

            # Pull latest image
            docker pull ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:prod

            # Run container
            docker run -d \
              -p 443:443 \
              --name discovery \
              ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:prod

            echo "Deployment completed successfully!"
