name: Discovery Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_LOGIN_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN_USERNAME }}" --password-stdin

      # 3. Build Docker image with SSL keys
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:latest .

      # 4. Push Docker image to Docker Hub
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:latest

      # 5. Deploy on server
      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 5823
          script: |
            # Stop and remove old container
            docker stop discovery || true
            docker rm discovery || true
            docker image prune -f || true

            # Pull latest image
            docker pull ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:latest

            # Run container
            docker run -d \
              -p 443:443 \
              --name discovery \
              ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:latest

            echo "Deployment completed successfully!"
