name: Discovery Development Deployment Routine

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_LOGIN_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build --build-arg BACKEND_URL='${{ secrets.DEV_API_URL }}' -t ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:development .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:development

      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USER }}
          key: ${{ secrets.SSH_KEY_DEV }}
          port: 5823
          script: |
            # Stop and remove old container
            docker stop discovery || true
            docker rm discovery || true
            docker image prune -f || true

            # Pull latest image
            docker pull ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:development

            # Run container
            docker run -d \
              -p 443:443 \
              --name discovery \
              -e NEXT_PUBLIC_API_URL='${{ secrets.DEV_API_URL }}' \
              -e BACKEND_URL='${{ secrets.DEV_API_URL }}' \
              ${{ secrets.DOCKER_LOGIN_USERNAME }}/discovery:development

            echo "Deployment completed successfully!"
